

html, body, #map-canvas {
	height: 100%;
	margin: 0; 
	padding: 0;
}
#map {
	width: 500px;
	height: 500px;
}
 
.SvgOverlay {
	position: relative;
	width: 500px;
	height: 500px;           
}
 
.SvgOverlay svg {
	position: absolute;
	top: -4000px;
	left: -4000px;
	width: 8000px;
	height: 8000px;        
}
 
.SvgOverlay path {
	stroke: black;
	stroke-width: 1px;
	fill-opacity: .6;
}